{% for name in list %}
	  <li class="suggestions__item">
	    <a href="#" class="suggestions__item-link">
	      <span class="suggestions__item-link-description">Рудный</span>
	      <span class="suggestions-message">{{ name }}</span>
	    </a>
	  </li>
{% endfor %}