
.btn--primary[disabled] {
    background-color: gray;
    border-color: gray;
}

.form--cart .btn--submit {
    width: 13rem;
}

.header-logo {
    top: 0.6rem;
}

.catalog-item-amount [class^=col-]:first-child {
    width: 40%;
}

.catalog-item-amount [class^=col-]:nth-child(2) {
    width: 60%;
}

.header .nav-contacts .icon {
    left: -18px;
}

.img--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}


.header-logo-small {
    display: none;
}

.nav-schedule {
    font-size: 10px;
}

input[type=checkbox], input[type=radio] {
    display: block;
    opacity: 0;
    position: absolute;
}

@media (min-width: 769px) {
    .header--fixed .header-logo-small {
        margin-right: 1.5rem;
    }
}

@media (max-width: 768.9px) {
    .nav-delivery .icon {
        left: 0;
    }
}

@media (min-width: 992px) {
    .header-logo-small {
        width: 8rem;
        display: inline-block;
    }

}

@media (min-width: 1200px) {
    .nav-schedule {
        font-size: 13px;
    }

    .nav-main li {
        padding: 0 1rem;
    }
}

.use-cookie {
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding: 10px 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e8e8e8;
}

.use-cookie__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.use-cookie__text {
    padding-right: 10px;
    font-style: italic;
    font-size: 14px;
}

.use-cookie__container button {
    display: block;
    margin: auto;
    margin-top: 15px;
}

.whatsapp {
    position: fixed;
    z-index: 3;
    width: 3.5rem;
    height: 3.5rem;
    right: 1.25rem;
    bottom: 1.25rem;
    padding: 0;
}

.whatsapp__link {
    width: 100%;
}

.whatsapp__link img {
    width: 100%;
    object-fit: contain;
}

@media (min-width: 768px) {
    .whatsapp {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .use-cookie__container {
        flex-wrap: nowrap;
    }

    .use-cookie__container button {
        margin-top: 0;
    }
}