
.btn--primary[disabled] {
    background-color: gray;
    border-color: gray;
}

.form--cart .btn--submit {
    width: 13rem;
}

.header-logo {
    top: 0.6rem;
}

.catalog-item-amount [class^=col-]:first-child {
    width: 40%;
}

.catalog-item-amount [class^=col-]:nth-child(2) {
    width: 60%;
}

.header .nav-contacts .icon {
    left: -18px;
}

.img--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}


.header-logo-small {
    display: none;
}

.nav-schedule {
    font-size: 10px;
}

input[type=checkbox], input[type=radio] {
    display: block;
    opacity: 0;
    position: absolute;
}

@media (min-width: 769px) {
    .header--fixed .header-logo-small {
        margin-right: 1.5rem;
    }
}

@media (max-width: 768.9px) {
    .nav-delivery .icon {
        left: 0;
    }
}

@media (min-width: 992px) {
    .header-logo-small {
        width: 8rem;
        display: inline-block;
    }

}

@media (min-width: 1200px) {
    .nav-schedule {
        font-size: 13px;
    }

    .nav-main li {
        padding: 0 1rem;
    }
}

.use-cookie {
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding: 10px 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e8e8e8;
}

.use-cookie__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.use-cookie__text {
    padding-right: 10px;
    font-style: italic;
    font-size: 14px;
}

.use-cookie__container button {
    display: block;
    margin: auto;
    margin-top: 15px;
}

.whatsapp {
    position: fixed;
    z-index: 3;
    width: 3.5rem;
    height: 3.5rem;
    right: 1.25rem;
    bottom: 70px;
    padding: 0;
}

.whatsapp__link {
    width: 100%;
}

.whatsapp__link img {
    width: 100%;
    object-fit: contain;
}

.check-bonuses {
    position: fixed;
    z-index: 9;
    width: 170px;
    right: calc(50% - 85px);
    bottom: 70px;
    padding: 0;
}

.check-bonuses button {
    border-color: #95454d;
}

.check-bonuses button:hover {
    background-color: #95454d;
    color: #fff;
}

.modal-mini .modal-dialog {
    max-width: 280px !important;
    width: 280px !important;
}

@media (min-width: 576px) {
    .modal-mini .modal-dialog {
        max-width: 350px !important;
        width: 350px !important;
    }
}

@media (min-width: 768px) {
    .whatsapp {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .use-cookie__container {
        flex-wrap: nowrap;
    }

    .use-cookie__container button {
        margin-top: 0;
    }
}

.progress-bar {
    position: fixed;
    bottom: 0;
    background-color: #344454;
    height: 50px;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    z-index: 3;
    padding: 0 50px 0 0;
}

.progress-bar__info {
    z-index: 2;
    display: flex;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #c92139;
    padding-left: 15px;
}

.progress-bar__info-img {
    margin-right: 10px;
}


.progress-bar__info-title {
    display: none;
    padding-right: 15px;
    line-height: 1;
}

@media (min-width: 992px) {
    .progress-bar__info-title {
        display: block;
    }
}

.progress-bar__points {
    z-index: 2;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.progress-bar__point {
    padding: 0 10px;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 90px;
    align-items: center;
    text-align: center;
}

.progress-bar__point-title {

}

.progress-bar__point-mark {
    width: 4px;
    height: 12px;
    background-color: #fff;
}

.btn--cart {
    bottom: 70px !important;
}

.cart-gifts__title {
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-bottom: 20px;
    display: block;
}

.cart-gifts {
    display: flex;
}

.cart-gift {
    text-align: center;
    padding: 15px;
    border: 1px solid gray;

}

.cart-gift__img {
    width: 100px;
}

.cart-gift__title {
    font-size: 1.125rem;
    line-height: 1.3125rem;
}

.cart-gift__price {

}

.catalog-item.disabled {
    opacity: .5;
}

.btn--disabled {
    background-color: #646464;
    color: #fff;
    font-weight: 700;
    pointer-events: none !important;
}

.js-catalog-item--disabled {
    cursor: no-drop;
}

.catalog-item-img .img--centered img {
    max-height: 100%;
}