<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Error &mdash;  CMS</title>

    <link href="/assets/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="row" style="margin-top:20%;">
        <div class="col-md12">
            <h1 class="text-center">{{ status }} <br><small>{{ reason }}</small></h1>
        </div>
    </div>
</body>
</html>
