<div class="nav-lang">
    <div class="dropdown">
        <a href="#" class="link--lang hidden-xs" id="lang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="nav-text hidden-md">Язык</span> <span class="nav-icon">Ru</span>
        </a>
        <ul class="dropdown-menu dropdown-lang" aria-labelledby="lang">
            <li class="active"><a href="#">Ru</a></li>
            <li><a href="#">En</a></li>
            <li><a href="#">Кз</a></li>
        </ul>
    </div>
</div>