<div class="form--search" data-form="search">
    <form action="/">
        <input type="search" class="form-control inp--search" data-role="input" name="search" placeholder="Поиск" />
        <button type="submit" class="btn--unstyled btn--search">
            <i class="icon icon-search"></i>
        </button>
    </form>
</div>