<div class="langs"><!-- header langs -->
	<span class="langs-title">Ру</span>
	<a href="#" class="h-arr"></a>
	<ul>
		<li><a href="#">Каз</a></li>
		<li><a href="#">Eng</a></li>
	</ul>
</div><!-- header langs -->