<div role="tabpanel" class="tab-pane fade" id="cabinet-tab-2">
  <!-- form-pass -->
  <div class="form--pass" data-form="pass">
    <form method="POST" class="userPassForm">
      <fieldset>
        <div class="form-title">
          <h3 class="title-3">Изменение пароля</h3>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Старый пароль</label>
              <div class="controls">
                <input type="password" class="form-control" name="pass_old" required />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Новый пароль</label>
              <div class="controls">
                <input type="password" class="form-control" name="pass_new" required />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Повторите пароль</label>
              <div class="controls">
                <input type="password" class="form-control" name="pass_re" required />
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-controls">
        <div class="formResult"></div>
      </div>
      <div class="form-controls">
        <button type="submit" class="btn btn--default btn--block btn--submit">
          <span>Сохранить изменения</span>
        </button>
      </div>
    </form>
  </div><!-- /form-pass -->
</div>